body {
    background-color: lightslategray;
}
.info {
    color:darkred;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
li {
    color: darkslateblue;
    font-family: serif;
    text-align: left;
}
h1{
    color: black;
    text-align: center;
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}